<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Type</title>
</head>
<body>
     <main>
         <h1>Project Manager</h1>
         <section id='type-add' class='Types'>
             <h2>Add a Project Type</h2>
             <form type='Submit'>
                <label for="name">Type Name</label>
                <input id='name' type="text">
             </form>
         </section>
     </main>
</body>
</html>