
.RegistrationPage{
    margin-top: 20vw;
}

@media screen and (min-width: 768px) {
    .RegistrationPage {
        margin-top: 15vw;
    }}
  
  
  
  @media screen and (min-width: 1024px) {
    .RegistrationPage {
      margin-top: 10vw;
  }}