.detail-wrapper{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    border: 1.5px solid black;
    border-radius: 15px; 
    width: 60vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    align-items: center;
    background-color: rgb(247, 247, 216);
}

.detail-box{
    width: 80%;
}

.button-wrapper{
    display: flex;
    flex-direction: column;
}

#edit-button{
    background-color: blue;
    color: white;
    margin-bottom: .75vw;
}

.red{
    font-weight: 800;
    color: red;
}

.black{
    color: black;
}

#delete-button{
    background-color: blue;
    color: white;
    margin-bottom: .75vw;
}

#complete-button{
    background-color: blue;
    color: white;
    margin-bottom: .75vw;
}

