.detail-wrapper{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    border: 1.5px solid black;
    border-radius: 15px; 
    width: 60vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    align-items: center;
    background-color: rgb(247, 247, 216);
}

.detail-box{
    width: 80%;
}

.button-wrapper{
    display: flex;
    flex-direction: column;
}



.red{
    font-weight: 800;
    color: red;
}

.black{
    color: black;
}

#delete-button{
    background-color: blue;
    color: white;
    
} 

#complete-button{
    background-color: blue;
    color: white;
    margin-bottom: 3vw;
}

#edit-button{
    background-color: blue;
    color: white;
    margin-bottom: 3vw;
}

@media screen and (min-width: 768px) {
    #complete-button{
        background-color: blue;
        color: white;
        margin-bottom: 1.5vw;
    }
    
    #edit-button{
        background-color: blue;
        color: white;
        margin-bottom: 1.5vw;
    }
}
  
  
@media screen and (min-width: 1024px) {
    #complete-button{
        margin-bottom: 1vw;
    }
    
    #edit-button{
        margin-bottom: 1vw;
    }
}
